<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Advanced Filtered Yogiyo</title>
</head>
<body>
<!-- 여기는 메인 페이지 -->
<header>
    <h1>요기요 고급 검색</h1>
</header>
<!-- 현재 위치 받아오기 (위도/경도) -->
<!-- 상세 필터 설정하기 -->
    <!-- 카테고리 (체크박스) -->
    <div>
        <h4>카테고리</h4>
        <!--/*@thymesVar id="categories" type="LinkedHashMap<String, String>"*/-->
        <div th:each="category : ${categories}">
            <!--/*@thymesVar id="filter" type="project.sinam7.advancedYogi.advancedYogi.Domain.SearchFilter"*/-->
            <input type="checkbox" th:field="${filter.categories}" th:value="${category.key}">
            <label th:for="${#ids.prev('categories')}" th:text="${category.value}">1인분주문</label>
        </div>
    </div>
    <!-- 최소주문금액 (텍스트 인풋) -->
    <!-- 최대 배달팁 (텍스트 인풋) -->
    <!-- n원 이상 주문 시 무료 무시하기 (텍스트 인풋) -->
    <!-- 정렬 기준 다중선택 (최소주문금액 적은순, 배달팁 낮은 순 등등 체크박스) -->

<!--  [Search] (버튼)  -->
</body>
</html>